@media screen and (max-width: 900px) {
  .container-section1{
    min-width: 100% !important;
    min-height: 100% !important;
  }
  .row-section1{

  }
  .parallax-container-section1{
    display: block !important;
    position: relative;
    top: -30vh !important;
  }
  .parallax-container-section1 .parallax-layer{
    position: absolute;
    right: 0;
    left: 0;
  }
  .section2{
    position: static !important;
    height: auto;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row !important;
    justify-content: center !important;
      -webkit-box-align: center !important;
      -moz-box-align: center !important;
      -ms-flex-align: center !important;
  }
  .section2 .parallax-layer{
    position: relative;
  }
  .section2 .parallax-layer img{
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
  #back-about{
    top: 0 !important;
    width: 100% !important;
    right: 0 !important;
    left: 20% !important;
  }
  #graphics_front{
    top: -50px !important;
    width: 100% !important;
    left: -20% !important;
  }
  .seccion3 {
    margin-top: 50px !important;
    position: static !important;
  }
  #juice, #food, #camera, #headphone, #glasses {
    display: none;
  }
  #laptop{
    position: static;
  }
  .service-figcaption{
  }
  .section4{
      margin-bottom: 100px !important;
  }
  .works{
    margin-right: auto;
  }
  .img-post{
    margin: 10px;
    width: auto !important;
  }
h3{
font-size: 48px !important;
}
h3, h5, p {
  margin-bottom: 20px !important;
}
.footer .container .row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    -webkit-box-align: center;
      -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nf-field {
width: 100% !important;
}
.textarea-container {
width: 100% !important;
margin: 0 !important;
}
.textbox-container {
margin-right: 0 !important;
}
}

.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }#page-527{background-size: cover;opacity: 1 ;background-color: #1f282e;}.page-title-527{font-family:!important; color:#000000!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }#page-1089{background-size: cover;opacity: 0 ;background-color: #ffffff;}.page-title-1089{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }.page-wrapper-292{}.page-wrapper-292 .opnsans{color:#ffffff!important; }#page-292{background-size: cover;opacity: 1 ;background-color: #4b5e62;}.page-title-292{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#ffffff!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }.page-wrapper-292{}.page-wrapper-292 .opnsans{color:#ffffff!important; }.page-wrapper-361{}.page-wrapper-361 .opnsans{color:#000000!important; }#page-361{background-size: cover;opacity: 0 ;background-color: #ffffff;}.page-title-361{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#ffffff!important; font-family:!important; color:#000000!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }.page-wrapper-292{}.page-wrapper-292 .opnsans{color:#ffffff!important; }.page-wrapper-361{}.page-wrapper-361 .opnsans{color:#000000!important; }.page-wrapper-347{}.page-wrapper-347 .opnsans{color:#000000!important; }#page-347{background-size: cover;opacity: 1 ;background-color: #1a6a7b;}.page-title-347{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#ffffff!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }.page-wrapper-292{}.page-wrapper-292 .opnsans{color:#ffffff!important; }.page-wrapper-361{}.page-wrapper-361 .opnsans{color:#000000!important; }.page-wrapper-347{}.page-wrapper-347 .opnsans{color:#000000!important; }.page-wrapper-675{}.page-wrapper-675 .opnsans{color:#000000!important; }#page-675{background-size: cover;opacity: 0 ;background-color: #ca4c4c;}.page-title-675{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#ffffff!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; }.page-wrapper-527{}.page-wrapper-527 .opnsans{color:#000000!important; }.page-wrapper-1089{}.page-wrapper-1089 .opnsans{color:#000000!important; }.page-wrapper-292{}.page-wrapper-292 .opnsans{color:#ffffff!important; }.page-wrapper-361{}.page-wrapper-361 .opnsans{color:#000000!important; }.page-wrapper-347{}.page-wrapper-347 .opnsans{color:#000000!important; }.page-wrapper-675{}.page-wrapper-675 .opnsans{color:#000000!important; }.page-wrapper-504{}.page-wrapper-504 .opnsans{color:#000000!important; }#page-504{background-size: cover;opacity: 0 ;background-color: #ffffff;}.page-title-504{font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#ffffff!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; font-family:!important; color:#000000!important; }.page-sub-title-504{ font-family:; color:#000000;text-align:}

.wpb_animate_when_almost_visible { opacity: 1; }
